
@font-face {
	font-family: 'Conv_CrimsonText-Regular';
	src: url('/fonts/CrimsonText-Regular.eot');
	src: local('☺'), url('/fonts/CrimsonText-Regular.woff') format('woff'), url('/fonts/CrimsonText-Regular.ttf') format('truetype'), url('/fonts/CrimsonText-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_CrimsonText-Italic';
	src: url('fonts/CrimsonText-Italic.eot');
	src: local('☺'), url('fonts/CrimsonText-Italic.woff') format('woff'), url('fonts/CrimsonText-Italic.ttf') format('truetype'), url('fonts/CrimsonText-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Amsdam Regular';
	src: url('/fonts/Amsdam Regular.eot');
	src: local('☺'), url('/fonts/Amsdam Regular.woff') format('woff'), url('/fonts/Amsdam Regular.ttf') format('truetype'), url('/fonts/Amsdam Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Montserrat-Regular';
	src: url('fonts/Montserrat-Regular.eot');
	src: local('☺'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}