header, footer {
    width: 100%;
    height: 63px;
    color: $tc-lgrey;
    text-transform: uppercase;
    font-family: 'Conv_Montserrat-Regular', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
    #logo {
        color: $tc-grey;
    }
    ul {
        display: flex;
        justify-content: space-between;
        width: 577px;
    }
}