* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

@import 'vars';
@import 'global';
@import 'grid';
@import 'fonts';
@import 'home';
@import 'hot';
@import 'clearance';
@import 'footer';



